<div id="<%= dom_id applicant %>">
  <p>
    <strong>Name:</strong>
    <%= applicant.name %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= applicant.overview %>
  </p>

  <p>
    <strong>Funding:</strong>
    <%= applicant.funding %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= applicant.project.title %>
  </p>

  <p>
    <strong>Status Updates:</strong>
  </p>

  <table id="applicants">
    <thead>
      <tr>
        <th>Date</th>
        <th>Status</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
    <% applicant.statuses.each do |status| %>
      <tr>
        <td><%= status.created_at %></td>
        <td><%= status.status_type.titleize %></td>
        <td><%= status.comment %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
