<%= form_with(model: applicant) do |form| %>
  <% if applicant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
        <% applicant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :overview, style: "display: block" %>
    <%= form.text_area :overview %>
  </div>

  <div>
    <%= form.label :funding, style: "display: block" %>
    <%= form.number_field :funding %>
  </div>

  <div>
    <%= form.label :project_id, style: "display: block" %>
    <%= form.collection_select :project_id, Project.order(:name), :id, :title %>
  </div>

  <% unless applicant.new_record? %>
    <div>
      <%= form.fields_for :statuses, @applicant.statuses.build do |status_form| %> 
        <%= status_form.label :status, style: "display: block" %>
        <%=
          status_form.select :status_type, options_for_select(
            Status.status_types.map { |k, v| [k.titleize, Status.status_types.key(v)] }, applicant.latest_status || 0
          )
        %>
        <%= status_form.label :comment, style: "display: block" %>
        <%= status_form.text_field :comment %>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
